aside.sidebar.pure-u-1.pure-u-md-1-4
    .header
        a.profile-pic
            img(src="/img/favicon.ico" alt="头像")
        h1.brand-title
            a(href="/") Grain
        nav.nav
            ul.nav-list
                li.nav-item
                    a.pure-button(href="/") 主页
                li.nav-item
                    a.pure-button(href="/catalog") 归档
                li.nav-item
                    a.pure-button(href="https:github.com/sanjdw" target="_blank") Github
                li.nav-item
                    a.pure-button(href="/about") 关于
                        