doctype
html
    head
        meta(charset='utf-8')
        title #{title}
        link(href="/css/admin.css",rel="stylesheet")
    body
        div
            dl
                dd
                    label(for='username') 用户名
                    input#username
            dl
                dd
                    label(for='password') 密码
                    input#password
            button 登录